* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 50px auto;
}

.candy {
  width: 100px;
  height: 100px;
}

.candy.red {
  background-color: red;
}

.candy.blue {
  background-color: blue;
}

.candy.green {
  background-color: green;
}

.candy.yellow {
  background-color: yellow;
}

.candy.orange {
  background-color: orange;
}

.candy.purple {
  background-color: purple;
}
